@model IEnumerable<Distributor.POCO.Employee>

@{
	ViewBag.Title = "Dashboard | Employee";
}


<style>
	.avatar-Image {
		width: 200px;
		height: 200px;
	}

	body {
		padding-top: 30px;
	}

	.glyphicon {
		margin-bottom: 10px;
		margin-right: 10px;
	}

	small {
		display: block;
		line-height: 1.428571429;
		color: #999;
	}
</style>

<section class="tables">
	<div class="container-fluid">
		<div class="row" id="EmployDiv">

		</div>
	</div>
</section>

@section Scripts {
   <script>
	   $(document).ready(function(){

			CurrentPage = 1;

		   // Load First Page
		   LoadData(CurrentPage)

		   // Show more
		   $(window).scroll(function (){
		   if($(window).scrollTop() == $(document).height() - $(window).height())
		   {
				CurrentPage = CurrentPage + 1;
				LoadData(CurrentPage);
		   }
	   });


	   });
	   /*initial CurrentPage equal 1*/


	   function LoadData(currentPage) {
	   $.ajax({
			url: 'http://localhost:10193/Employees/FetchEmployee?pageNumber='+currentPage,
			type: "POST",
			success: function(data) { onSucess('#EmployDiv', data); }
	   });

}


function onSucess(element, data) {
	   var employeeTable = $(element);
	   $(data.data).each(function(index, emp){

			console.log(emp);
		   {
			   employeeTable.append(`
					<div class="col-lg-4">
				   <div class="well well-sm">
							<div class="row">
								<div class="lg-4 col-md-4 col-xs-6">
									<img src="/Uploads/ProfileImages/avatar-5.jpg" alt="" class="img-rounded img-fluid" />
								</div>
								<div class="lg-8 col-md-8 col-xs-6">
									<h4>
										${emp.EmpName}</h4>
									<small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
									</i></cite></small>
									<p>
										<i class="glyphicon glyphicon-envelope"></i>${emp.EmpEmail}
										<br />
										<i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
										<br />
										<i class="glyphicon glyphicon-gift"></i>June 02, 1988</p>
									<!-- Split button -->
									<div class="btn-group">
										<button type="button" class="btn btn-primary">
											Action</button>
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span><span class="sr-only">Action</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Edit</a></li>
											<li><a href="https://plus.google.com/+Jquery2dotnet/posts">Remove</a></li>
											<li class="divider"></li>
											<li><a href="#">Github</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					 </div>
			`);
		   }
	   });
}
	</script>
	}