@model IEnumerable<Distributor.POCO.Employee>

@{
    ViewBag.Title = "Dashboard | Employee";
}

<h2>Scroll Mouse to See More :))</h2>

@Html.Hidden("HdfPageIndex")
<div class="container" id="divEmployees">

</div>

@section Scripts {
    <script src="~/Scripts/CommonFunctions.js"></script>
    <script>
        $(function () {
            doLoadingMore($("#divEmployees"), 1);
            $(document).unbind("scroll");
            var lastScrollTop = 0;
            $(document).scroll(function (event) {
                var st = $(this).scrollTop();
                if (st > lastScrollTop) {
                    if (st >= ($(document).height() - $(window).height())) {
                        doLoadingMore($("#divEmployees"), 0);
                    } else {
                        //donothing
                    }
                    lastScrollTop = st;
                }
            });

        });

        function doLoadingMore(that, actiontype) {
            var $that = $(that);
            if ($that.data("ajax") == true)
                return;
            var hdfPageIndex = $("#HdfPageIndex");
            var pageIndex = parseInt($(hdfPageIndex).val());
            if (actiontype == 1) {
                pageIndex = 1;
                $(hdfPageIndex).val("1");
            } else {
                pageIndex = parseInt(pageIndex) + 1;
            }
            var data = "{'pageIndex':'" + pageIndex + "'}";
            LoadingAjax("Employees/FetchEmployee", data,
            //Before send
                function () {
                    $that.ShowLoadingImange();
                    $that.data("ajax", true);
                },
            //On success
                function (dt) {
                    $("#divEmployees").append(dt.d);
                    if (data.data != '') {
                        $(hdfPageIndex).val(pageIndex);
                    }
                    $that.data("ajax", false);
                    $that.find(".indicator").remove();
                },
            //On error
                function () {
                    $that.data("ajax", false);
                    $that.find(".indicator").remove();
                }
            );
        }
        //An user function is added to show a loading image while waiting for responding from the server.
        $.fn.extend({
            ShowLoadingImange: function () {
                var img = $(this);
                $(this).css({ "position": "relative" });
                var indicator = $("<div>").addClass("indicator").css({
                    width: img.width(),
                    height: img.height(),
                    backgroundColor: "#ffffff",
                    opacity: 0.3,
                    display: "block",
                    position: "absolute",
                    top: 0,
                    'z-index': 9999
                }).append($("<img>", {
                    src:"/Assets/Images/lg.sandglass-time-loading-gif.gif"
                }).css({
                    position: "fixed",
                    top: $(window).innerHeight() / 2,
                    left: $(window).innerHeight() / 2 + 300
                }));
                return $(this).append(indicator);
            }
        });
    </script>
    }